@{
    ViewBag.Title = "Página inicial";
}

<div>
    <img src="~/img/banner.jpg" alt="banner" class="w-100 object-fit-cover shadow" style="height: 350px;" />
</div>

<partial name="_ProdutosPartial" />

@section Scripts
{
    <script src="~/js/shared/produtospartial.js"></script>
}