@{
    ViewBag.Title = "Página inicial";
}

@* TODO - Apagar teste *@
<div>
    <img src="~/img/pexels-karolina-grabowska-5625000.jpg" alt="pexels-karolina-grabowska-5625000.jpg" class="object-fit-cover w-100 opacity-25" />
</div>