<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 p-4 rounded shadow bg-body">
            <h1 class="text-center">Oops! Ocorreu um problema! <i class="fa-solid fa-face-sad-tear"></i></h1>
            <p class="text-center">Nossa equipe já foi acionada e está trabalhando para resolver.</p>
            <a class="btn btn-outline-info w-100" asp-area="" asp-controller="Home" asp-action="Index">
                <span class="h2">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p>Voltar ao início</p>
                </span>
            </a>
        </div>
    </div>
</div>
