@inject LojaVirtual.Site.Extensions.Sessao sessao
@{
    var colaboradorToken = sessao.ObterColaboradorToken();
}

@if (colaboradorToken is not null 
   && (colaboradorToken.Permissao.VisualizarColaborador 
   || colaboradorToken.Permissao.VisualizarCliente 
   || colaboradorToken.Permissao.VisualizarCategoria
   || colaboradorToken.Permissao.VisualizarProduto
   || colaboradorToken.Permissao.VisualizarPedido))
{
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-3 p-3 rounded shadow bg-body">
                <div class="row p-3 justify-content-center">
                    @{
                        if (colaboradorToken.Permissao.VisualizarColaborador)
                        {
                            <a class="btn btn-outline-danger mb-2" asp-area="Administracao" asp-controller="Colaborador" asp-action="Index">
                                <i class="fa-solid fa-users-gear"></i> Colaboradores
                            </a>
                        }
                        if (colaboradorToken.Permissao.VisualizarCliente)
                        {
                            <a class="btn btn-outline-danger mb-2" asp-area="Administracao" asp-controller="Cliente" asp-action="Index">
                                <i class="fa-solid fa-users"></i> Clientes
                            </a>
                        }
                        if (colaboradorToken.Permissao.VisualizarCategoria)
                        {
                            <a class="btn btn-outline-danger mb-2" asp-area="Administracao" asp-controller="Categoria" asp-action="Index">
                                <i class="fa-solid fa-layer-group"></i> Categorias
                            </a>
                        }
                        if (colaboradorToken.Permissao.VisualizarProduto)
                        {
                            <a class="btn btn-outline-danger mb-2" asp-area="Administracao" asp-controller="Produto" asp-action="Index">
                                <i class="fa-solid fa-bag-shopping"></i> Produtos
                            </a>
                        }
                        if (colaboradorToken.Permissao.VisualizarPedido)
                        {
                            <a class="btn btn-outline-danger" asp-area="Administracao" asp-controller="Pedido" asp-action="Index">
                                <i class="fa-solid fa-cart-shopping"></i> Pedidos
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}
