@model ClienteViewModel
@{
    ViewBag.Title = "- Conta";
}

<div class="container mt-4">

    <div class="row justify-content-center">
        <div class="col p-3 rounded shadow bg-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="list-group">
                        <button class="list-group-item list-group-item-action">Meus dados</button>
                        <button class="list-group-item list-group-item-action">Pedidos</button>
                        <button class="list-group-item list-group-item-action">Senha</button>
                        <button class="list-group-item list-group-item-action">E-mails</button>
                        <button class="list-group-item list-group-item-action">Telefones</button>
                        <button class="list-group-item list-group-item-action">Endereços</button>
                    </div> 
                </div>
               <div class="col-sm-9">

               </div>
            </div>
        </div>
    </div>
</div>