@model EmailViewModel
@{
    ViewBag.Title = "- Conta - E-mail Editar";
}

<div class="container mt-4">

    <div class="row justify-content-center">
        <div class="col p-3 rounded shadow bg-body">
            <div class="row">
                <div class="col-sm-3">
                    <partial name="_ContaPartial" />
                </div>
                <div class="col-sm-9">

                    <a class="btn btn-outline-secondary float-end" asp-area="" asp-controller="Cliente" asp-action="ContaEmail">
                        <i class="fa-solid fa-square-up-right"></i> Voltar
                    </a>

                    <h3 class="mb-3">Editar e-mail</h3>

                    <form method="post">

                        @if (ViewBag.Mensagem is not null)
                        {
                            <div class="alert alert-danger" role="alert">@ViewBag.Mensagem</div>
                        }
                        @if (TempData["Mensagem"] is not null)
                        {
                            <div class="alert alert-danger" role="alert">@TempData["Mensagem"]</div>
                        }

                        <input hidden readonly asp-for="Id" />
                        <input hidden readonly asp-for="ClienteId" />

                        <div class="row mb-3">
                            <div class="mb-3">
                                <label asp-for="EmailEndereco" class="form-label"></label>
                                <input asp-for="EmailEndereco" class="form-control">
                                <span asp-validation-for="EmailEndereco" class="text-danger"></span>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-outline-primary me-1" asp-area="" asp-controller="Cliente" asp-action="ContaEmailEditar">
                            <i class="fa-solid fa-floppy-disk"></i> Salvar
                        </button>

                        <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#excluirModal">
                            <i class="fa-solid fa-trash"></i> Excluir
                        </a>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="excluirModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title h5">Excluir - @Model?.EmailEndereco</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluír o e-mail <span class="fw-bold">@Model?.EmailEndereco</span>?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-outline-danger" asp-area="" asp-controller="Cliente" asp-action="ContaEmailExcluir" asp-route-id="@Model?.Id">
                    <i class="fa-solid fa-trash"></i> Excluir
                </a>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i> Fechar
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial">
}
