@model int

@if (Model > 1)
{
    <i class="fa-solid fa-cart-shopping"></i>
    <span> (@Model itens)</span>
}
else if (Model == 1)
{
    <i class="fa-solid fa-cart-shopping"></i>
    <span> (@Model item)</span>
}
else
{
    <i class="fa-solid fa-cart-shopping"></i>
}
