<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Cliente" asp-action="Index">
        <i class="fa-solid fa-address-card"></i> Meus dados
    </a>
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Cliente" asp-action="Senha">
        <i class="fa-solid fa-key"></i> Senha
    </a>
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="ClienteEmail" asp-action="Index">
        <i class="fa-solid fa-envelope"></i> E-mails
    </a>
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="ClienteTelefone" asp-action="Index">
        <i class="fa-solid fa-phone"></i> Telefones
    </a>
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="ClienteEndereco" asp-action="Index">
        <i class="fa-solid fa-map-location-dot"></i> Endereços
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <i class="fa-solid fa-cart-shopping"></i> Pedidos
    </a>
</div>
