<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Cliente" asp-action="Conta">Meus dados</a>
    <a class="list-group-item list-group-item-action">Pedidos</a>
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Cliente" asp-action="ContaSenha">Senha</a>
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Cliente" asp-action="ContaEmail">E-mails</a>
    <a class="list-group-item list-group-item-action">Telefones</a>
    <a class="list-group-item list-group-item-action">Endereços</a>
</div>
