@inject LojaVirtual.Site.Extensions.Sessao sessao

<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loja Virtual @ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="bg-body-tertiary">
    <header>

        <nav class="navbar navbar-expand-xl bg-body shadow">
            <div class="container-fluid">
                <a class="navbar-brand me-5" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.svg" alt="logo" style="max-height: 1.5em;" />
                    <span>Loja Virtual</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fa-solid fa-house-chimney"></i> Página inicial
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Categoria" asp-action="Index">
                                <i class="fa-solid fa-layer-group"></i> Categorias
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Produto" asp-action="Index">
                                <i class="fa-solid fa-bag-shopping"></i> Produtos
                            </a>
                        </li>
                    </ul>

                    @* TODO - Remover *@
                    <a class="btn btn-outline-danger me-xl-2 mb-2 mb-xl-0" asp-area="Administracao" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                    </a>

                    <form class="me-xl-2 mb-2 mb-xl-0">
                        <div class="input-group">
                            <input class="form-control pesquisarProdutos" type="search" placeholder="Pesquisar">
                            <button class="btn border pesquisarProdutosBtn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>

                    @{
                        var clienteToken = sessao.ObterClienteToken();

                        if (clienteToken is not null)
                        {
                            <div class="dropdown me-xl-2 mb-2 mb-xl-0">
                                <button class="btn border dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    <i class="fa-solid fa-user"></i> @clienteToken.ClienteUsuario
                                </button>
                                <ul class="dropdown-menu dropdown-menu-xl-end">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Cliente" asp-action="Sair">
                                            <i class="bi bi-box-arrow-left"></i> Sair
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div class="me-xl-2 mb-2 mb-xl-0">
                                <a class="btn border" asp-area="" asp-controller="Cliente" asp-action="Index">
                                    <i class="fa-solid fa-right-to-bracket"></i> Entrar
                                </a>
                            </div>
                        }
                    }

                    <div class="dropdown">
                        <button class="btn border dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            <i id="tema-atual" class="bi bi-circle-half"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-xl-end">
                            <li><button class="dropdown-item" data-bs-theme-value="auto"><i class="bi bi-circle-half"></i> Automático</button></li>
                            <li><button class="dropdown-item" data-bs-theme-value="light"><i class="bi bi-sun-fill"></i> Claro</button></li>
                            <li><button class="dropdown-item" data-bs-theme-value="dark"><i class="bi bi-moon-stars-fill"></i> Escuro</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer border-top text-muted">
        <div class="container-fluid text-center">
            &copy; @DateTime.Now.Year - Loja Virtual
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
