@model int

@{
    ViewBag.Title = "- Pedido recebido";
}

@if (Model > 0)
{
    <div class="container mt-4">

        <div class="row justify-content-center">

            <div class="col p-3 rounded shadow bg-body text-center">

                <h1><i class="bi bi-cart-check-fill text-success"></i> Pedido número @Model recebido com sucesso! <i class="bi bi-cart-check-fill text-success"></i></h1>

                <br />

                <p class="h4">Clique no link abaixo para efetuar o pagamento</p>

                <a class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#pagamentoModal"><span class="h4">Gateway de pagamento</span></a>

                <br />

                <br />

                <p>Você pode acompanhar o andamento do pedido na sua conta clicando <a asp-area="" asp-controller="ClientePedido" asp-action="Detalhes" asp-route-id="@Model">aqui</a>.</p>

                <p class="h2">Obrigado!</p>

            </div>

        </div>

    </div>

    <div id="pagamentoModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header bg-success">
                        <h5 class="modal-title h5">Simulação de pagamento</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">

                        <span class="h5">O pagamento pode levar um tempo para ser processado.</span>

                        <div class="row mt-3">

                            <div class="col-sm mb-3">
                                <button type="submit" class="btn btn-outline-success h-100 w-100" asp-area="" asp-controller="Pedido" asp-action="pagamento" asp-route-pedidoId="@Model" asp-route-tipo="1">
                                    <span><i class="fa-solid fa-credit-card"></i></span>
                                    <p>Aprovar pagamento</p>
                                </button>
                            </div>
                            <div class="col-sm mb-3">
                                <button type="submit" class="btn btn-outline-warning h-100 w-100" asp-area="" asp-controller="Pedido" asp-action="pagamento" asp-route-pedidoId="@Model" asp-route-tipo="0">
                                    <span><i class="fa-solid fa-shuffle"></i></span>
                                    <p>Aleatório</p>
                                </button>
                            </div>
                            <div class="col-sm mb-3">
                                <button type="submit" class="btn btn-outline-danger h-100 w-100" asp-area="" asp-controller="Pedido" asp-action="pagamento" asp-route-pedidoId="@Model" asp-route-tipo="2">
                                    <span><i class="fa-solid fa-ban"></i></span>
                                    <p>Recusar pagamento</p>
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> Fechar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
