@model Carrinho
@{
    ViewBag.Title = "- Carrinho";
}

@if (Model is not null)
{
    foreach (var item in Model.CarrinhoItens)
    {
        <p>
            @item.ProdutoId = @item.Quantidade
        </p>
    }
}
