@model int

@{
    ViewBag.Title = "- Pedido recebido";
}

@if (Model > 0)
{
    <div class="container mt-4">

        <div class="row justify-content-center">

            <div class="col p-3 rounded shadow bg-body text-center">

                <h1><i class="bi bi-cart-check-fill text-success"></i> Pedido número @Model recebido com sucesso! <i class="bi bi-cart-check-fill text-success"></i></h1>

                <br />

                <p class="h4">Clique no link abaixo para efetuar o pagamento</p>

                <a href="#" class="btn btn-outline-success"><span class="h4">Gateway de pagamento</span></a>

                <br />

                <br />

                <p>Você pode acompanhar o andamento do pedido na sua conta clicando <a asp-area="" asp-controller="ClientePedido" asp-action="Detalhes" asp-route-id="@Model">aqui</a>.</p>

                <p class="h2">Obrigado!</p>

            </div>

        </div>

    </div>
}
