@model CarrinhoViewModel

@{
    ViewBag.Title = "- Carrinho";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col p-3 rounded shadow bg-body carrinhopartial">
            @{
                await Html.RenderPartialAsync("_CarrinhoPartial", Model);
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/carrinho/index.js"></script>
}
