@model ICollection<Categoria>

@{
    ViewBag.Title = "- Categorias";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8 p-3 rounded shadow bg-body">

            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Produto" asp-action="Index"><span class="h4">Todas as categorias</span></a>

            @if (Model?.Count > 0)
            {
                var grupos = Model.GroupBy(x => x.Nome[0]).ToList();

                foreach (var grupo in grupos)
                {
                    <p class="h4 mt-3">@grupo.Key</p>
                    foreach (var item in grupo)
                    {
                        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Produto" asp-action="Index" asp-route-categoria="@item.Id">@item.Nome</a>
                    }
                }
            }
        </div>
    </div>
</div>
